In [1]:
import pandas as pd
import numpy as np

In [2]:
list1 = [
        [1,2,3],
        [4,5,6],
        [7,8,9],
        [10,11,12],
        [13,14,15]
        ]
data = pd.DataFrame(list1, index = ['a','c','d','e','f'],columns = ['one','two','three'])
data
data = data.reindex(['a','b','c','d','e','f','g','g'])
data

    one   two  three
a   1.0   2.0    3.0
b   NaN   NaN    NaN
c   4.0   5.0    6.0
d   7.0   8.0    9.0
e  10.0  11.0   12.0
f  13.0  14.0   15.0
g   NaN   NaN    NaN
g   NaN   NaN    NaN

In [6]:
#print(data['one'].isnull())
# print(data['one'].notnull())
print(data['one'].sum())

35.0

In [8]:
print(data.fillna(method = 'backfill')) # Fill Name with immediate above row

    one   two  three
a   1.0   2.0    3.0
b   4.0   5.0    6.0
c   4.0   5.0    6.0
d   7.0   8.0    9.0
e  10.0  11.0   12.0
f  13.0  14.0   15.0
g   NaN   NaN    NaN
g   NaN   NaN    NaN

In [10]:
print(data.replace({4:400,6:500}))

     one   two  three
a    1.0   2.0    3.0
b    NaN   NaN    NaN
c  400.0   5.0  500.0
d    7.0   8.0    9.0
e   10.0  11.0   12.0
f   13.0  14.0   15.0
g    NaN   NaN    NaN
g    NaN   NaN    NaN

In [11]:
unsortedData = pd.DataFrame(np.random.rand(10,2), index=[1,4,6,2,3,5,9,8,0,9], columns = ['col2','col1'])

In [13]:
unsortedData

       col2      col1
1  0.766426  0.372836
4  0.608373  0.229584
6  0.570801  0.318166
2  0.979078  0.438623
3  0.004575  0.295095
5  0.959979  0.019792
9  0.953582  0.543423
8  0.614381  0.792265
0  0.549194  0.996742
9  0.044566  0.874430

In [14]:
sortedData = unsortedData.sort_index() # Sort Index
sortedData

       col2      col1
0  0.549194  0.996742
1  0.766426  0.372836
2  0.979078  0.438623
3  0.004575  0.295095
4  0.608373  0.229584
5  0.959979  0.019792
6  0.570801  0.318166
8  0.614381  0.792265
9  0.953582  0.543423
9  0.044566  0.874430

In [19]:
sortedData['col1'].sort_values(ascending = False)

0    0.996742
9    0.874430
8    0.792265
9    0.543423
2    0.438623
1    0.372836
6    0.318166
3    0.295095
4    0.229584
5    0.019792
Name: col1, dtype: float64