In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from sklearn.pipeline import Pipeline
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer

In [63]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [91]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

X_train = train_data.drop("Survived", axis=1)
Y_train = train_data['Survived']
X_test = test_data

In [65]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [92]:
X_train.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [93]:
from sklearn.base import BaseEstimator

class Gender(BaseEstimator):
    def __init__(self):
       pass
        
    def fit(self, X, y=None):
        return self
    def transform(self, data):
        data['Sex'] = data['Sex'].map({"male": 0, "female": 1})
        return data

In [117]:
dropColumns = ['PassengerId','Pclass','SibSp','Parch','Ticket','Fare','Cabin','Embarked','Name']
pre_process = ColumnTransformer(remainder='passthrough',
                                transformers=[('drop_columns', 'drop',dropColumns),
                                              ('Age', SimpleImputer(strategy='mean'), ['Age']),
                                              ('Sex', SimpleImputer(strategy='most_frequent'), ['Sex']),
#                                               ('scale_data', StandardScaler(),['Item_MRP'])])
                                             ])

# pre_process.fit_transform(X_train)

In [95]:
# fit the pipeline with the training data
# model_pipeline.fit(X_train,Y_train)

# model_pipeline.predict(X_train)

Pipeline(memory=None,
     steps=[('Gender', Gender()), ('pre_processing', ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('drop_columns', 'drop', ['PassengerId', 'Pclass', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Name'])...imators=10, n_jobs=None,
            oob_score=False, random_state=2, verbose=0, warm_start=False))])

In [114]:
 xx = model_pipeline.fit_transform(X_train)
xx[:2]

array([[22.],
       [38.]])

In [45]:

# model_pipeline.predict(test_data)
# test_data[:2]
model_pipeline.predict(test_data[:2])

array([0, 0], dtype=int64)